<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <h1><%= title %></h1>
    <p>Welcome to
        <%= title %>
    </p>
    <a href="/lists/add">add list</a>
    <br>
    <a href="/lists">list memo</a>
    <br>
    <!-- <a href="/lists/update">Update memo</a> -->




</body>

</html>
