<!DOCTYPE html> 
<html>
  <head>
    <title>CRUD Todo</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <form action="/create" method="post">
      <input type="text" name="title" value="" placeholder="Input your new task here...">
      <select name="user">
        <% users.forEach(user => { %>
          <option value="<%= user.dataValues.id%>">
        <%= user.dataValues.email %>
          </option>
        <% }) %>
      </select>
      <input type= "checkbox" name="status">
      <button type="submit">add New Task</button>
    </form>
  </body>
</html>
