<!DOCTYPE html>
<html>
<body>

<form action="/edit/<%=memo.id%>" method="post">
  <br>
  <input type="text" name="title" Value="<%=memo.title%>">
  <br>
  <br>
  <input type="submit" value="Edit">
</form>

</body>
</html>
