<!DOCTYPE html>
<html>
  <head>
    <title>ToDoList</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1> WELCOME TO TODOLIST APP</h1>
    <h3> please click user tab to start </h3>
  </body>
</html>
