<!DOCTYPE html>
<html>
<body>

<form action="/users" method="post">
  <br>
  <input type="text" name="email" placeholder="Email">
  <br>
  <br>
  <input type="submit" value="Add">
</form>

</body>
</html>
