<html>
  <head>
    <title>ToDoList</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <form method = "post" action = "/todo/add">
      <input name = "things" placeholder = "please input your todo list" type ="text" required><br>
      <input name="iscompleted" type="checkbox" value="true"/> Completed<br>
      <select name = "user_id" required>
        <option value = "" disabled selected> Choose your email </option>
        <% users.forEach((user)=> {%>
      <option value = "<%= user.id %>"> <%= user.email %> </option>
    <% }) %> </select><br>
        <button type = "submit"> Submit </button>
      </form>
  </body>
</html>
