<!DOCTYPE html>
<html>
  <head>
    <title>CRUD</title>
  </head>
<body>
  <form action="/users/create" method="post">
    <table>
      <tr>
        <td>Nama Lengkap </td>
        <td>:</td>
        <td><input type="text" name="fullname"></td>
      </tr>
      <tr>
        <td>Email </td>
        <td>:</td>
        <td><input type="text" name="email"></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td><button type="submit">Save</button></td>
      </tr>
    </table>
  </form>
</body>
</html>
